/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
/* You can add global styles to this file, and also import other style files */


*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    
}

button {
    cursor: pointer;
}

